*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.row::after{
    clear:both;
    display: block;
    content: "";
}

.col{
    float:left;
    /*border: 1px solid green;*/
}


header{
    background: black;
    color: white;
    min-height: 40px;
    font-size: 16px;
}

header a{
    color: white;
    text-decoration: none;
}

.logo{
    padding: 12px;
}

.logo span {
    color: #66ffcc;
}

header ul.col{
    float: right;
    text-transform: uppercase;
    padding-top: 12px;
}

header ul.col > li{
    display: inline-block;
    position: relative;
    padding-right: 50px;
}


/*wybieramy wszystkie ul nie posiadający klasy kol, który znajduje się w header*/
header ul:not(.col) {
    position: absolute;
    top: 0;
    left:0;
    display: none;
    padding-top:40px;
}

.square {
    background-color: black;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    left: -20px;
    transform: rotate(45deg);
}

header .submenu li {
    background: black;
    margin-left: -20px;
    padding: 10px 20px;
}

header .submenu li:first-of-type {
    padding-top: 25px;
}

header li:hover .submenu{
    display: block;
}

.slider {
    min-height: 450px;
}
section {
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #FFFFFF 50%, #D6D6D6 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 50%, #D6D6D6 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 50%, #D6D6D6 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50, #FFFFFF), color-stop(100, #D6D6D6));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 50%, #D6D6D6 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #FFFFFF 50%, #D6D6D6 100%);
}

.slider .col:first-of-type {
    border: 1px solid red;
    width: 40%;
}
.slider .col {
    width: 60%;
}

.slider img {
    padding-top: 130px
}

.slider h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 170px 50px 30px 50px;
    font-size: 40px;
}

.slider span {
    color: #66ffcc;
}

.slider p {
    text-align: center;
    padding: 40px 100px;
    color: grey;
}

.slider button {
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #66ffcc;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

article .col {
    width: 30%;
}

article .col h3 {

}

.img_container{
    position: relative;
}

.box_description {
    position: absolute;
    top: 0;
    left: 0;
}
